<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- <script defer src="/public/scripts/scripsPanelControl.js"></script> -->
</head>
<body>
    
    <h1>TIENDA DE DISCOS</h1>

    <ul>
        <li><a href="/index">Index</a></li>
        <li><a href="/inicioSesion">Iniciar sesión</a></li>
        <li><a href="/panelControl">Panel de control</a></li>
        <li><a href="/cerrarSesion">Cerrar sesión</a></li>
        <li><a href="/sesiones">Revisión sesiones</a></li>
    </ul>

    <h2><%= titulo %></h2>

    

    <div id="ListaDiscos"> 

        <% for (let i = 0; i < discosBBDD.length; i++) {%>
            <div>
                
                <h3>Nombre: <%= discosBBDD[i].nombre %></h3>
                <p>Año: <%= discosBBDD[i].anio %></p>
                <p>Precio: <%= discosBBDD[i].precio %></p>
                <p>Stock: <%= discosBBDD[i].stock %></p>

                <div id="btns-productos" class="botones-panel-control">
                    <button data-id="<%= discosBBDD[i]._id %>" class="btn-editar" id="BTN-editar">Editar</button>
                    <button data-id="<%= discosBBDD[i]._id %>" class="btn-eliminar">Eliminar</button>
                </div>

                <div id="form-editar-<%= discosBBDD[i]._id %>" class="formulario-editar hidden">
                    <h2>Nuevos datos:</h2>
                    <form data-id="<%= discosBBDD[i]._id %>">
                        <input type="text" id="nombre-<%= discosBBDD[i]._id %>" value="<%= discosBBDD[i].nombre %>" placeholder="Nombre Disco">
                        <input type="number" id="anio-<%= discosBBDD[i]._id %>" value="<%= discosBBDD[i].anio %>" placeholder="Año lanzamiento del Disco">
                        <input type="number" id="precio-<%= discosBBDD[i]._id %>" value="<%= discosBBDD[i].precio %>" placeholder="Precio del Disco">
                        <input type="number" id="stock-<%= discosBBDD[i]._id %>" value="<%= discosBBDD[i].stock %>" placeholder="Stock actual del Disco">
                        <br>
                        <br>
                        <button type="submit">Guardar cambios</button>
                        <button type="button" data-id="<%= discosBBDD[i]._id %>" class="btn-cancelar">Cancelar</button>
                    </form>
                </div>
                
            </div>
            
        <% }%>
            
    </div>

    <form id="form-crearDisco" method="post">
        <input type="text" name="nombre" id="Nombre-Nuevo" placeholder="Título del disco" required>
        <input type="number" name="anio" id="Anio-Nuevo" placeholder="Año de lanzamiento" required>
        <input type="number" name="precio" id="Precio-Nuevo" placeholder="Precio" required>
        <input type="number" name="stock" id="Stock-Nuevo" placeholder="Stock actual" required>
        <button type="submit" id="btn-crear-disco" class="btn-crear-disco">Crear nuevo</button>
        <button type="reset">Borrar campos</button>
    </form>
    

    <script>
       
        document.addEventListener("DOMContentLoaded", function () {
            document.addEventListener("click", (event) => {
                if (event.target.matches(".btn-editar")) {
                    const boton = event.target;
                    const idProducto = boton.dataset.id;
                    console.log("Editando disco:", idProducto);
                    const formEditar = document.getElementById(`form-editar-${idProducto}`);
                    formEditar.classList.remove("hidden")
                    
                    
                }
            });
            
            document.addEventListener('submit', async (event) => {
                event.preventDefault();
                console.log("hola desde editar disco")
                

            if (event.target.hasAttribute('data-id')) {
                const id = event.target.getAttribute('data-id');
                const nombre = document.getElementById(`nombre-${id}`).value;
                const anio = document.getElementById(`anio-${id}`).value;
                const precio = document.getElementById(`precio-${id}`).value;
                const stock = document.getElementById(`stock-${id}`).value;
                
                const formEditar = document.getElementById(`form-editar-${id}`);
                try {
                    const response = await fetch(`/api/productos/${id}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({
                            nombre: nombre,
                            anio: anio,
                            precio: parseFloat(precio),
                            stock: parseInt(stock),
                        })
                    });
                    formEditar.classList.add("hidden");
                    location.reload();

                } catch (error) {
                    console.error('Error:', error);
                    alert('Error de conexión al actualizar producto');
                }
            }
        });

            document.addEventListener('click', (event) => {

            if (event.target.classList.contains('btn-cancelar')) {
                const id = event.target.getAttribute('data-id');
                const formulario = document.getElementById(`form-editar-${id}`);
                formulario.classList.add("hidden");
                
            }
        });

            document.addEventListener('click', async (event) => {

            if (event.target.classList.contains('btn-eliminar')) {
                const id = event.target.getAttribute('data-id');

                const confirmacion = confirm(`¿Estás seguro que quieres eliminar el disco?`);

                if (!confirmacion) {
                    return
                } else {
                    
                    try {
                        const response = await fetch(`/api/productos/${id}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            }
                        })
                        
                        alert ("Disco elimado de la Base de datos");
                        location.reload();

                    } catch (error) {
                        console.error('Error:', error);
                        alert('Error de conexión al actualizar producto');
                    }
                    
                }
            }
        });

            document.addEventListener("submit", async (event) => {
                console.log("hola desde agregar disco")
                
                const form = event.target;
                
                
                if (form.matches('#form-crearDisco')){
                    event.preventDefault();

                    const nombre = document.getElementById(`Nombre-Nuevo`).value;
                    const anio = document.getElementById(`Anio-Nuevo`).value;
                    const precio = document.getElementById(`Precio-Nuevo`).value;
                    const stock = document.getElementById(`Stock-Nuevo`).value;

                    try {

                    const response = await fetch(`/api/productos/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({
                            nombre: nombre,
                            anio: anio,
                            precio: parseFloat(precio),
                            stock: parseInt(stock),
                        })
                    });
                    alert ("Disco creado con éxito")
                    location.reload();

                } catch (error) {
                    console.error('Error:', error);
                    alert('Error de conexión al actualizar producto');
                }
                 }

            })

        });
    </script>
    
</body>
</html>