<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <!-- <link rel="stylesheet" href="/styles/styles.css"> ejemplo de archivo estático -->
</head>
<body>
    
    <h1>TIENDA DE DISCOS</h1>


    <h2>Bienvenido, <%= nombre %>!</h2>

    <p>Este es un ejemplo de una página usando <strong>EJS</strong>.</p>

    <%= productosBD[1].nombre  %>

    <% if (rol === "administrador") { %>
        <p>Acceso total al sistema.</p>
    <% } else { %>
        <p>Acceso limitado.</p>
    <% } %>

  <ul>
    <% productos.forEach(producto => { %>
      <li><%= producto.nombre %> - $<%= producto.precio %></li>
    <% }) %>
  </ul>
</body>
</html>
